.btn {
  border-radius: 20px;
  border: 1px solid #7853ce;
  background-color: #735cdd;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn:active {
  transform: scale(0.95);
}
.btn:focus {
  outline: none;
}
