body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}
.section{
  height: max-content;
  width: fit-content;
  display:flex;
  flex-wrap:nowrap;
  flex-direction: column;
  margin: 2em auto;
  padding: 2em 1em;
  border-radius: 0.5rem;
  background-color:#f4f3ee;
  box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
}
.contact{
  display:flex;
  padding: 1em;
}
.contact_img {
  max-width: 440px;
}
.brand-header{
  padding: 0.8em 1em;
  font-size: 22px;
  font-weight: 500;
}
.section-header{
  padding-left: 0.25em;
  padding-bottom: 1em;
  font-size: 16px;
  font-weight: 400;
}
.brand-header, .section-header {
  text-align: left;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.contact-wrapper {
  padding: 0 0 1em 0;
  max-width: 430px;
  height: 380px;
}

/* Left contact page */
.form-horizontal {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 400px;
  font-family: "Lato";
  font-weight: 400;
}

#contact-form input {
  max-width: 400px;
  height: 40px;
  padding: 0.7em;
  letter-spacing: 1px;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.03);
}
#contact-form input:hover,
textarea:hover {
  border: 1.5px solid #1495E3;
}
#contact-form input:focus-visible,
textarea:focus-visible {
  outline: 1.5px solid #1495E3;
}
#contact-form textarea {
  padding: 0.7em;
  border-radius: 0.5rem;
  border: 1.5px solid #fff;
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.03);
}

.send-button {
  height: 34px;
  width: 317px;
  padding: 7px;
  border-radius: 0.5rem;
  border: 1.5px solid #fff;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
  background: rgb(5, 48, 149);
  background: radial-gradient(
    circle,
    rgba(5, 48, 149, 1) 35%,
    rgba(23, 87, 223, 1) 100%
  );
}

.alt-send-button {
  width: 317px;
  height: 34px;
  transition: all 0.2s ease-in-out;
}

.send-text {
  display: block;
  margin-top: 10px;
  color: #fff;
  font: 700 12px "Lato", sans-serif;
  letter-spacing: 2px;
}

.alt-send-button:hover {
  transform: translate3d(0px, -25px, 0px);
}

hr {
  border-color: rgba(255, 255, 255, 0.6);
}

/* Begin Media Queries*/
@media screen and (max-width: 850px) {
  .contact-wrapper {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 569px) {
}

@media screen and (max-width: 410px) {
  .send-button {
    width: 99%;
  }
}
